html, body {
  margin: 0;
  padding: 0;
}

.header {
  #background-color: #808080;
  background-color: black;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 1.2em;
  color: white;
}

.jumbotron {
  background: url(https://dl.dropboxusercontent.com/u/22628728/Camboya.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: white;
  height: 100vh;
	margin-bottom: 0px;
  padding: 3vh;
}

.jumbotron_text {
  position: absolute; /* absolute */
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
	width: 100%;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);*
}

.navbar-nav > li{
  padding: 20px;
  padding-right: 0px;
  margin: 0px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.main {
  font-family: 'Raleway', sans-serif;
  background-color: white;
  padding: 10vh
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

